body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navText {
  color: white !important;
  font-family: 'Press Start 2P';
  font-size: 32px;
}

.navButtonText {
  width: 100%;
  color: black !important;
  font-family: 'Press Start 2P';
}

.navButtonText:hover {
  text-decoration: none;
  color: black !important;
}

.navLinks {
  margin-top: 10px;
  float: right;
  font-size: 24px;
  background-color: rgb(31,32,33);
}

#canvas {
  /*padding-top: 20px;*/
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-left: 75px;
}

.paint {
  /*margin-top: 2px;*/
  /*width: 35px;
  height: 35px;*/
  /*border-radius: 50%;*/
  /*float: left;
  border-style: 2px;
  border-style: solid;*/
  /*margin-left: 1px;*/
}

.palette {
  /*width: 10vw;*/
  /*height: 10.5vh;*/
  /*border-style: solid;*/
  /*border-radius: 5px;*/
  /*border-width: 1px;*/
  /*margin-left: 15px;*/
  /*margin-top: 15px;*/
  background-color: lightgray;
}

.colorBox {
  width:60px;
  height:60px;
  box-sizing: border-box;
  /*border-right: solid;*/
  /*border-bottom: solid;*/
  border-width: 1px;
  float: right;
  /*border-radius: 5px;*/
}

.currentColor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  margin: 5px auto;
  box-sizing: border-box;
  background-color: white;
}

.currentText {
  font-size: 8px;
  text-align: center;
  margin: auto;
  font-family: 'Press Start 2P';
}

.projectBox {
  margin-top: 20px;
  margin-right: 20px;
}

.projectBoxTitleText {
  font-family: 'Press Start 2P';
  text-align: center;
  padding: 1px;
  margin: auto;
}

.newProject {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.projectCard {
  /*margin-top: 2px;
  margin-bottom: 2px;*/
  /*text-align: left;*/
  padding: 1px;
  font-family: 'Press Start 2P';
  border: none;
  background: 'none';
}

.projectCard:hover{
  background: #6b6862;
  /*box-shadow: 0 0 15px #6b6862;*/
}

.projectCardText{
  text-align: center;
  padding-top:10px;
  font-family: 'Press Start 2P';
}

.projectCardHighlighted {
  background: #6b6862;
  text-align: left;
  padding: 1px;
  font-family: 'Press Start 2P';
  border: none;
}

.projectButton {
  margin-top: 5px;
  text-align: center;
}

.projectBoxButtonText {
  width: 100%;
  text-align: left;
  padding: 1px;
  font-family: 'Press Start 2P';
  background: none;
  border: none;
}

.projectButtonText {
  width: 100%;
  text-align: center;
  padding: 1px;
  font-family: 'Press Start 2P';
  background: none;
  border: none;
}

.projectButtonText:hover{
  background: #6b6862;
}

.projectBoxButtonText:hover{
  background: #6b6862;
}

.artTitleText {
  text-align: center;
  font-family: 'Press Start 2P';
}

.newProjectButton {
  margin: auto;
  text-align: center;
  font-family: 'Press Start 2P';
}

.newProjectInfoBox {
  font-family: 'Press Start 2P';
}

.projectLabelText {
  text-align: center;
}

.landingIntroText {
  margin-top: 40px;
  font-family: 'Press Start 2P';
  font-size: 64px;
  text-align: center;
}

.landingButton {
  font-family: 'Press Start 2P';
  margin-top: 400px;
  text-align: center;
  background-color: black;
}

.landingButtonText:hover {
  color: red;
}

.landingButtonText {
  color: red;
}

.landingButtonText:hover {
  text-decoration: none;
}

.landingPage {
  background-image: image();
}

.show > .dropdown-menu {
  display: block;
}

.menuButton {
  font-family: 'Press Start 2P';
}
