body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.artTitleText {
  text-align: center;
  font-size: 1.25rem;
}

.show > .dropdown-menu {
  display: block;
}

.aboutText {
  font-size: 14px;
}

.showProjectHeading{
  font-size: 20px;
  text-decoration: underline;
}

.showProjectItem{
  font-size: 16px;
}

.navLink {
  color: white !important;
  font-size: 16px;
}

.navText {
  color: white !important;
  font-size: 20px;
}

footer a {
  color: white !important;
}

.addNewUserCollaborators{
  font-size: 20px;
}

.selectedUser {
  justify-content: center;
}

.selectedUser:hover {
  background: lightgray;
}

.selectedUserHighlighted {
  background: lightgray;
}
